<%- include("includes/head.ejs") %>
<body>
    <h1>Welcone to the Instgram @<%= userdata.name %>
    </h1>
    <button>Follow</button>
    <button>Message</button>
    <p>Follower : <%= userdata.followers %> &nbsp;&nbsp;&nbsp;
            Following : <%= userdata.following %>
    </p>
    <hr>

    <% for(let post of userdata.posts){ %>
        <img src="<%= post.image %>" alt="dog image">
        <p><i class="fa-solid fa-heart"></i> : <%= post.likes %> &nbsp; <i class="fa-solid fa-comment"></i> : <%=
                    post.comments %>
        </p>
        <% } %>
        <script src="/app.js"></script>
        <%- include("includes/footer.ejs") %>
</body>

</html>